# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE
.idea/
*.iml
*.iws
*.ipr
.vscode/
.classpath
.project
.settings/
.factorypath

# Log
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Spring
HELP.md
out/
build/
bin/

# Local env
.env
.env.local
application-local.yml
application-local.properties

# Docker
.docker-data/
